@mixin design-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
}

@mixin design-list {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

@mixin reset-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}