/* source color */
//https://colorhunt.co/palette/f6f1f1afd3e219a7ce146c94

$bg-nav: #1b2430;
$color-1: #146C94;
$color-2: #19A7CE;
$color-3: #AFD3E2;
$color-4: #F6F1F1;

//images
$logo: url("https://res.cloudinary.com/ds8i6jriz/image/upload/v1691315155/MyImages/logo_jhv85x.png");
$logo-full: url("https://res.cloudinary.com/ds8i6jriz/image/upload/v1691315156/MyImages/logofull_nobg_f8oome.png");

//font
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");